<div class="card m-5 bg-info rounded-pill", style="opacity: 0.8;">
    <h1 class="text-center text- m-2 p-4">Votre historique de vie(s)</h1>
</div>

  <h2 class="container mt-4 mb-4">Vos expériences à venir:</h2>
    <% @bookings.each do |booking| %>
    <% owner = Life.find(booking.life_id).owner.id%>
      <% if booking.end_date >= Date.today%>
        <div class="container card-booking">
          <div class="image-life"><%= cl_image_tag Life.find(booking.life_id).photo.key,  width: 120, height: 120, crop: :fill %></div>
          <div class="card-booking-infos">
            <h2><%= Life.find(booking.life_id).job_title.titleize%></h2>
              <p>avec <%=User.find(owner).first_name%> <%=User.find(owner).last_name.first%>. du <%= booking.start_date%> au <%=booking.end_date%>.</p>
              <% number_of_days = (booking.end_date - booking.start_date).to_i %>
              <p class="total-price">Prix total: <%= (Life.find(booking.life_id).price_per_day * number_of_days).round %>€</p>
          </div>
        </div>
      <%end%>
  <%end%>

  <h2 class="container mt-4 mb-4">Vos expériences passées:</h2>
  <% @bookings.each do |booking| %>
  <% owner = Life.find(booking.life_id).owner.id%>
    <% if booking.end_date < Date.today%>
      <div class="container card-booking opacity-25">
        <div class="image-life"><%= cl_image_tag Life.find(booking.life_id).photo.key,  width: 120, height: 120, crop: :fill %></div>
        <div class="card-booking-infos">
          <h2><%= Life.find(booking.life_id).job_title.titleize%></h2>
            <p>avec <%=User.find(owner).first_name%> <%=User.find(owner).last_name.first%>. du <%= booking.start_date%> au <%=booking.end_date%>.</p>
                <% number_of_days = (booking.end_date - booking.start_date).to_i %>
              <p class="total-price">Prix total: <%= (Life.find(booking.life_id).price_per_day * number_of_days).round %>€</p>
        </div>
      </div>
    <%end%>
  <%end%>
