<div class="container">
  <div class="card-create m-5 bg-primary rounded-pill" style="opacity: 0.7;">
    <% owner = Life.find(@life.id).owner_id %>
    <h1 class="text-center m-2 p-3 text-white">Testez votre nouvelle vie de
      <%= Life.find(@life.id).job_title.titleize %>
      avec <%= User.find(owner).first_name %> <%= User.find(owner).last_name.first %>.
    </h1>
  </div>

  <div class="mx-auto p-3 border rounded" style="max-width: 600px; font-size: 16px;">
    <%= simple_form_for [@life, @booking] do |f| %>
      <%= f.input :start_date, label: "Début", as: :string, input_html: { data: { controller: "datepicker" } }, style: "font-size: 14px;" %>
      <%= f.input :end_date, label: "Fin", as: :string, input_html: { data: { controller: "datepicker" } }, style: "font-size: 14px;" %>
      <%= f.button :submit, 'Valider ma réservation', class: 'btn btn-primary text-white rounded-pill', style: 'opacity: 0.7; font-size: 18px;' %>
    <% end %>
  </div>
</div>
