<div class="cards-container">
  <% @lives.each do |life| %>
    <div class="box">
      <div class="imgBox">
        <%= link_to life_path(life), class: 'life-link' do %>
          <%= cl_image_tag life.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div class="content">
        <h2><%= life.title %></h2>
        <%# <span><%= User.find(life.owner_id).city</span> %>
        <%# # <p><%= life.price_per_day.round€ per day</p> %>
        <%# <p><%= User.find(life.owner_id).first_name %>
        <%# <%= User.find(life.owner_id).last_name.first.</p> %>
      </div>
    </div>
  <% end %>
</div>
