<div class=" row justify-content-center mt-1">
  <div class="col-5">
    <%= form_with url: lives_path, method: :get, class: "d-flex search-bar" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Prêt(e) pour une nouvelle vie ?"
        %>
      <%= button_tag(type: "submit", class: "btn btn-success") do %>
       <i class="fa-solid fa-magnifying-glass" style="color: #f5f5f5;"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card m-5 bg-success rounded-pill">
    <h1 class="text-center text-white m-2 p-4">Découvrez votre nouvelle vie avant de l'adopter!</h1>
</div>

<div class="cards-container">
  <% @lives.each do |life| %>
    <div class="box">
      <div class="imgBox">
        <%= link_to life_path(life), class: 'life-link' do %>
          <%= cl_image_tag life.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div class="content">
        <h2><%= life.job_title.titleize %></h2>
      </div>
    </div>
  <% end %>
</div>
