<h1>Lives#new</h1>

  <div class="container">
      <%= simple_form_for @life, html: { multipart: true } do |f| %>
      <%= f.input :name %>
      <%= f.input :price_per_day %>
      <%= f.input :description %>
      <%= f.input :city %>
      <%= f.input :address %>
      <%= f.input :owner_id %>

      <%= f.input :picture_url, as: :file %>

      <%= f.button :submit %>
    <% end %>
  </div>
