<h1>Create my life for rent</h1>

  <div class="container">
      <%= simple_form_for @life, html: { multipart: true } do |f| %>
      <%= f.input :title %>
      <%= f.input :price_per_day %>
      <%= f.input :description %>
      <%# <%= f.input :street_number %>
      <%# <%= f.input :street_name %>
      <%# <%= f.input :city %>
      <%# <%= f.input :country %>
      <%# <%= f.input :owner_id %>

      <%= f.input :photo, as: :file %>

      <%= f.button :submit %>
    <% end %>
  </div>
