<div class="container card-life">
  <div class="image-life"><%= cl_image_tag @life.photo.key, width: 500, height: 600, crop: :fill %>
  </div>
  <div class="card-life-infos">
    <div>
      <h2 class="text-center"><%= @life.title %></h2>
        <% user = User.find(@life.owner_id) %>
        <p class="user-infos text-center"><%= user.first_name %> <%= user.last_name.first %>. - <%= user.age %> ans - de <%= user.city %>, <%= user.country %></p>
      </div>
      <div>
        <h3 class="pt-5 text-center">Pourquoi devenir <%= @life.job_title.titleize %> ?</h3>
        <p class="life-description"><%= @life.description %></p>
      </div>
        <div class="d-flex align-items-end justify-content-between">
          <div class="price"><strong>Prix à la journée : <%= number_to_currency(@life.price_per_day, unit: '€') %></strong></p></div>
          <%= link_to new_life_booking_path(@life), class: "btn btn-info bottom-right-btn" do %>
             <span> Devenez <%= @life.job_title.titleize %> <i class="fa-solid fa-face-smile-beam fa-bounce" style="color: #347347;"></i> </span>
          <%end%>
        </div>
  </div>
</div>


<%= link_to lives_path, class: "index-page btn btn-success", style: "text-decoration: none" do%>
     <span><i class="fa-solid fa-arrow-left fa-beat-fade" style="color: #fdb465;"></i> <%="Retour aux vies"%> </span></span>
<% end %>
