<h1><%= @life.title %></h1>

<div>
  <p><%= cl_image_tag @life.photo.key, width: 400, height: 300, crop: :fill %></p>
  <p><%= @life.description %></p>
  <p><%= @life.price_per_day %></p>
  <%= User.find(@life.owner_id).first_name %>
</div>

<button class ="btn btn-primary">Book</button>

<%= link_to "Retour aux vies", root_path, class: "btn btn-primary"%>
