<h1><%= @life.name %></h1>

<div>
  <p><%= @life.picture_url %></p>
  <p><%= @life.description %></p>
  <p><%= @life.price_per_day %></p>
  <%= User.find(@life.owner_id).first_name %>
</div>

<%# # TODO  %>
<%# <p><strong>Reviews</strong></p> %>
<%# <ul class="list-group"> %>
  <%# <% @live.reviews.each do |review| %>
    <%# <li class="list-group-item"><%= review.content %>
  <%# <% end %>
<%# </ul> %>

<button>book</button>

<%= link_to "Back to lives", root_path %>
