<h1><%= @life.name %></h1>

<div>
  <p><%= @life.picture_url %></p>
  <p><%= @life.description %></p>
  <p><%= @life.price_per_day %></p>
  <%= User.find(@life.owner_id).first_name %>
</div>

<%= link_to "Back to lives", root_path %>
