<!DOCTYPE html>
<html>
<head>
  <title>Airbnlife</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=PT+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
  <div class="wrapper">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Découvrir des vies", lives_path %></li>
        <li><%= link_to "Offrir ma vie", new_life_path %></li>
        <li><%= link_to "Mes réservations", bookings_path %></li>
        <li><%= link_to "Paramètres", root_path %></li>
        <li><%= link_to "Me déconnecter", destroy_user_session_path, "data-turbo-method" => "delete" %></li>
      <% else %>
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Me connecter", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
